@page "/gallery"
@using HamsterWarsWASM.Shared.Service
@inject IHamsterService HamsterService
@inject NavigationManager NavigationManager
@implements IDisposable


@if(HamsterService.Hamsters == null || HamsterService.Hamsters.Count == 0)
{
    <span>Loading cute hamsters plz wait......</span>
}
else
{
    <button class="btn btn-primary" @onclick="CreateHamster">
        Click here to add a new hamster
    </button>

    <ul class="list-unstyled">
        @foreach (var hamster in HamsterService.Hamsters)
        {
            if (hamster.Deleted == false)
            {
                <li class="media my-3">
                    <div class="media-img-wrapper mr-2">
                        <a href="/matchwinners/@hamster.Id">@hamster.Name</a>
                    </div>
                        <div class="btn btn-danger" @onclick="@(() => DeleteHamster(@hamster.Id))">Remove</div>
                </li>
            }
        }
    </ul>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await HamsterService.GetHamsters();
    }

    void CreateHamster()
    {
        NavigationManager.NavigateTo("/create");
    }

    async void DeleteHamster(int hamsterId)
    {
        var hamster = HamsterService.Hamsters.Find(x => x.Id == hamsterId);
        if(hamster == null)
        {
            return;
        }
        else
        {
            await HamsterService.DeleteHamster(hamster);
            HamsterService.HamstersChanged += StateHasChanged;
        }
    }

    public void Dispose()
    {
        HamsterService.HamstersChanged -= StateHasChanged;
    }
}
