@page "/"

<PageTitle>Hamster Wars</PageTitle>

<div class="row row-cols-3 g-4">
    <div class="col">
        <PanelComponent Heading="Hamsters" >
        </PanelComponent>
    </div>
</div>

@*<HamsterList />*@
