@page "/"

<div class="center">
    <WrapperContainerBattleComponent>
        <h2>This site is for hamsters that want to battle!</h2>

        <h4>Battle</h4>
        <p>
            It works this: Choose the cutest hamster!<br />
            To generate a new battle simple click "Generate new battle"
        </p>
        <h4>Gallery</h4>
        <p>
            This shows all active hamsters, to add a new hamster. Click the blue button!
        </p>
        <h4>Statistics</h4>
        <p>
            Shows the top 5 and bottom 5 hamsters
        </p>
        <h4>History</h4>
        <p>
            Shows all the matches
        </p>
    </WrapperContainerBattleComponent>
</div>



