@page "/"

<div class="center">
    <WrapperContainerBattleComponent>
        <h2>This site is for hamsters that want to battle!</h2>

        <h5>Battle</h5>
        <p>
            It works this: Choose the cutest hamster!<br />
            To generate a new battle simple click "Generate new battle"
        </p>
        <h5>Gallery</h5>
        <p>
            This shows all active hamsters, to add a new hamster. Click the blue button!
        </p>
        <h5>Statistics</h5>
        <p>
            Shows the top 5 and bottom 5 hamsters
        </p>
        <h5>History</h5>
        <p>
            Shows all the matches
        </p>
        <h4>Delete funktion för Hamster och Match existerar och fungerar. De går att finna Gallery>More Details>Edit eller History>Delete Match
        </h4>
        <p>Att ta bort match eller hamster fungerar men det är löst på ett sådant sätt att poöngen inte försvinner.
            Detta är gjort för rättvisa mot alla hamstrar. </p>
    </WrapperContainerBattleComponent>
</div>



