@page "/statistics"
@inject IMatchService MatchService



@if(MatchService.Matches == null || MatchService.Matches.Count == 0)
{
    <span>Loading all matches...</span>
}
else
{
    <p>Tanken här är att top 5 och sämsta 5 ska visas</p>
    <table class="table">
        <thead>
                <tr>
                <th>Match Id</th>
                <th>Winner</th>
                <th>Defeated</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var matches in MatchService.Matches)
        {
                <tr>
                    <td>@matches.Id</td>
                    <td>@matches.WinnerId</td>
                    <td>@matches.LoserId</td>
              </tr>
        }
        </tbody>
    </table>
}
@code {
    private List<Match>? Matches = null;
}
