<div class="container d-flex justify-content-between align-items-center">

    <div id="logo">
    </div>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="">Home</a></li>
            <li><a class="nav-link scrollto" href="battle">Battle</a></li>
            <li><a class="nav-link scrollto" href="gallery">Gallery</a></li>
            <li><a class="nav-link scrollto" href="statistics">Statistic</a></li>
            <li><a class="nav-link scrollto" href="history">History</a></li>
            <li><a class="nav-link scrollto" href="swagger/index.html">Swagger</a></li>
        </ul>
    </nav>
</div>

@code {

}
