<div class="col-md-6 col-lg-4">
    <div class="card mx-20">
        <div class="card-body">
            <h5 class="card-title">@Heading</h5>
            <p class="card-text">@ChildContent</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Heading { get; set; }
    [Parameter]
    public string? Source { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
