
    <div class="col-md-6 col-lg-4">
        <div class="card mx-20">
            <ImgComponent Source="@Source"></ImgComponent>
            <h5 class="card-title">@Heading</h5>
            <p class="card-text">@ChildContent</p>
        </div>
    </div>


@code {
    [Parameter]
    public string Heading { get; set; }
    [Parameter]
    public string? Source { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool overlayVisible;
    private bool editMode;

    void ToggleEdit()
    {
        editMode = true;
        overlayVisible = false;
    }

    void ShowOverlay()
    {
        overlayVisible = true;
    }

    void HideOverlay()
    {
        overlayVisible = false;
    }

    void HandleEditCancelled()
    {
        editMode = false;
    }
}
