

<table class="table">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var match in Matches)
        {
            if (RowTemplate is not null && match.Deleted == false)
            {
                <tr>@RowTemplate(match)</tr>
                @ChildContent
            }
        }
    </tbody>
</table>


@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment<Match>? RowTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<Match> Matches { get; set; }
    }