    <div class="card">
        <div class="@HeadingClass card-header d-flex justify-content-between align-items-center">
            @Heading
        </div>
        <div class="card-body">
            @ChildContent
        </div>
    </div>

@code {
    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string HeadingClass { get; set; }


}